In [32]:
import pandas as pd

In [33]:
df = pd.DataFrame({'name': ['name1', 'name2', 'name3', 'name4'], 'знач 2': [1, 2, 34, 5], 'val2': [4, 6, 2, 7]})

In [34]:
df

    name  знач 2  val2
0  name1       1     4
1  name2       2     6
2  name3      34     2
3  name4       5     7

In [35]:
df.sort_values(by='знач 2')

    name  знач 2  val2
0  name1       1     4
1  name2       2     6
3  name4       5     7
2  name3      34     2

In [36]:
df

    name  знач 2  val2
0  name1       1     4
1  name2       2     6
2  name3      34     2
3  name4       5     7

In [37]:
print(df)

    name  знач 2  val2
0  name1       1     4
1  name2       2     6
2  name3      34     2
3  name4       5     7

In [38]:
df

KeyError: 1